/local_papers
/src/Cluster/Cluster/bin/Debug
/src/Cluster/Cluster/obj/Debug
/src/Cluster/Communication/bin/Debug
/src/Cluster/Communication/obj/Debug
/src/Cluster/TestCluster/bin/Debug
/src/Cluster/TestCluster/obj/Debug
