/local_papers
/src/Cluster/Cluster/bin/Debug
/src/Cluster/Cluster/obj/Debug
/src/Cluster/Communication/bin/Debug
/src/Cluster/Communication/obj/Debug
/src/Cluster/TestCluster/bin/Debug
/src/Cluster/TestCluster/obj/Debug
/src/Cluster/*.suo
/src/Cluster/Network/bin/Debug/*.dll
/src/Cluster/Network/bin/Debug/*.pdb
/src/Cluster/Network/obj/Debug/*.cache
/src/Cluster/Network/obj/Debug/*.txt
/src/Cluster/Network/obj/Debug/*.dll
/src/Cluster/Network/obj/Debug/*.pdb
/src/Cluster/Network/obj/Debug/*.cs
/doc/start_up/Documentation.aux
/doc/start_up/Documentation.log
/doc/start_up/Documentation.synctex.gz
