/local_papers
/src/Cluster/Cluster/bin/Debug
/src/Cluster/Cluster/obj/Debug
/src/Cluster/Communication/bin/Debug
/src/Cluster/Communication/obj/Debug
/src/Cluster/TestCluster/bin/Debug
/src/Cluster/TestCluster/obj/Debug
/src/Cluster/*.suo
/src/Cluster/Network/bin/Debug/*.dll
/src/Cluster/Network/bin/Debug/*.pdb
/src/Cluster/Network/obj/Debug/*.cache
/src/Cluster/Network/obj/Debug/*.txt
/src/Cluster/Network/obj/Debug/*.dll
/src/Cluster/Network/obj/Debug/*.pdb
/src/Cluster/Network/obj/Debug/*.cs
/doc/start_up/Documentation.aux
/doc/start_up/Documentation.log
/doc/start_up/Documentation.synctex.gz
/src/Cluster/CommunicationServer/obj/Debug/CommunicationServer.csproj.FileListAbsolute.txt
/src/Cluster/CommunicationServer/obj/Debug/CommunicationServer.csprojResolveAssemblyReference.cache
/src/Cluster/CommunicationServer/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/src/Cluster/CommunicationServer/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/src/Cluster/CommunicationServer/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/src/Cluster/CommunicationServer/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/src/Cluster/CommunicationServer/obj/Debug/build.force
/src/Cluster/CommunicationServer/bin/Debug/Communication.dll
/src/Cluster/CommunicationServer/bin/Debug/Communication.pdb
/src/Cluster/CommunicationServer/bin/Debug/CommunicationServer.exe
/src/Cluster/CommunicationServer/bin/Debug/CommunicationServer.exe.config
/src/Cluster/CommunicationServer/bin/Debug/CommunicationServer.pdb
/src/Cluster/CommunicationServer/bin/Debug/CommunicationServer.vshost.exe
/src/Cluster/CommunicationServer/bin/Debug/CommunicationServer.vshost.exe.config
/src/Cluster/CommunicationServer/bin/Debug/Network.dll
/src/Cluster/CommunicationServer/bin/Debug/Network.pdb
/src/Cluster/CommunicationServer/obj/Debug/CommunicationServer.exe
/src/Cluster/CommunicationServer/obj/Debug/CommunicationServer.pdb
/src/Cluster/ComputationalNode/bin/Debug/Communication.dll
/src/Cluster/ComputationalNode/bin/Debug/Communication.pdb
/src/Cluster/ComputationalNode/bin/Debug/ComputationalNode.exe
/src/Cluster/ComputationalNode/bin/Debug/ComputationalNode.exe.config
/src/Cluster/ComputationalNode/bin/Debug/ComputationalNode.pdb
/src/Cluster/ComputationalNode/bin/Debug/ComputationalNode.vshost.exe
/src/Cluster/ComputationalNode/bin/Debug/ComputationalNode.vshost.exe.config
/src/Cluster/ComputationalNode/bin/Debug/ComputationalNode.vshost.exe.manifest
/src/Cluster/ComputationalNode/bin/Debug/Network.dll
/src/Cluster/ComputationalNode/bin/Debug/Network.pdb
/src/Cluster/ComputationalNode/obj/Debug/ComputationalNode.csproj.FileListAbsolute.txt
/src/Cluster/ComputationalNode/obj/Debug/ComputationalNode.csprojResolveAssemblyReference.cache
/src/Cluster/ComputationalNode/obj/Debug/ComputationalNode.exe
/src/Cluster/ComputationalNode/obj/Debug/ComputationalNode.pdb
/src/Cluster/ComputationalNode/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/src/Cluster/ComputationalNode/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/src/Cluster/ComputationalNode/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/src/Cluster/ComputationalNode/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/src/Cluster/TaskManager/bin/Debug/Communication.dll
/src/Cluster/TaskManager/bin/Debug/Communication.pdb
/src/Cluster/TaskManager/bin/Debug/TaskManager.exe
/src/Cluster/TaskManager/bin/Debug/TaskManager.exe.config
/src/Cluster/TaskManager/bin/Debug/TaskManager.pdb
/src/Cluster/TaskManager/bin/Debug/TaskManager.vshost.exe
/src/Cluster/TaskManager/bin/Debug/TaskManager.vshost.exe.config
/src/Cluster/TaskManager/bin/Debug/TaskManager.vshost.exe.manifest
/src/Cluster/TaskManager/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/src/Cluster/TaskManager/obj/Debug/TaskManager.csproj.FileListAbsolute.txt
/src/Cluster/TaskManager/obj/Debug/TaskManager.csprojResolveAssemblyReference.cache
/src/Cluster/TaskManager/obj/Debug/TaskManager.exe
/src/Cluster/TaskManager/obj/Debug/TaskManager.pdb
/src/Cluster/TaskManager/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/src/Cluster/TaskManager/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/src/Cluster/TaskManager/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/src/Cluster/ComputationalClient/bin/Debug/Communication.dll
/src/Cluster/ComputationalClient/bin/Debug/Communication.pdb
/src/Cluster/ComputationalClient/bin/Debug/ComputationalClient.exe
/src/Cluster/ComputationalClient/bin/Debug/ComputationalClient.exe.config
/src/Cluster/ComputationalClient/bin/Debug/ComputationalClient.pdb
/src/Cluster/ComputationalClient/obj/Debug/ComputationalClient.csproj.FileListAbsolute.txt
/src/Cluster/ComputationalClient/obj/Debug/ComputationalClient.csprojResolveAssemblyReference.cache
/src/Cluster/ComputationalClient/obj/Debug/ComputationalClient.exe
/src/Cluster/ComputationalClient/obj/Debug/ComputationalClient.pdb
/src/Cluster/ComputationalClient/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/src/Cluster/ComputationalClient/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/src/Cluster/ComputationalClient/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/src/Cluster/ComputationalClient/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/src/Cluster/CommunicationServer/bin/Debug/CommunicationServer.vshost.exe.manifest
/src/Cluster/CommunicationServer/obj/Debug/DesignTimeResolveAssemblyReferences.cache
/src/Cluster/ComputationalNode/bin/Debug/Cluster.dll
/src/Cluster/ComputationalNode/bin/Debug/Cluster.pdb
/src/Cluster/TaskManager/bin/Debug/Cluster.dll
/src/Cluster/TaskManager/bin/Debug/Cluster.pdb
/src/Cluster/ComputationalNode/ComputationalNode.csproj.user
/src/Cluster/ComputationalNode/obj/Debug/DesignTimeResolveAssemblyReferences.cache
/src/Cluster/TaskManager/TaskManager.csproj.user
/src/Cluster/TaskManager/bin/Debug/UCCTaskSolver.dll
/src/Cluster/TaskManager/bin/Debug/UCCTaskSolver.xml
/doc/DVRP/benchmarks/small_test/path.txt
/src/Cluster/ComputationalClient/bin/Debug/ComputationalClient.vshost.exe
/src/Cluster/ComputationalClient/bin/Debug/ComputationalClient.vshost.exe.config
/src/Cluster/ComputationalClient/bin/Debug/ComputationalClient.vshost.exe.manifest
/src/Cluster/ComputationalNode/bin/Debug/UCCTaskSolver.dll
/src/Cluster/ComputationalNode/bin/Debug/UCCTaskSolver.xml
